.login-page {
    font-family: Arial, sans-serif;
    --background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    transition: background-color 0.3s, color 0.3s;
    line-height: normal;
}
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}
body.dark_mode {
    background-color: #333;
    color: #f4f4f4;
}