/* Budget Categories Section */
section.budget_categories {
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.category_list_container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.category_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.category_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.category_item {
  background-color: var(--card-background);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.category_item:hover {
  transform: translateY(-5px);
}

.progress_bar {
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0;
}

.progress {
  background-color: #28a745;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.date_range {
  font-size: 0.875rem; /* Adjust font size as needed */
  color: var(--text-color); /* Optional: change color for better visibility */
  margin-bottom: 0.5rem;
}

.edit_category_btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  display: inline-block;
  margin: 0.5rem;
}

.edit_category_btn:hover {
  background-color: #0056b3;
}

.add_btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  display: inline-block;
  margin: 0.5rem;
}

.add_btn:hover {
  background-color: #0056b3;
}

.delete_category_btn {
  background-color: #ff4136;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.delete_category_btn:hover {
  background-color: #d50000;
}