.register_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background: none;
  padding: 0;
}
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .login_link {
    text-decoration: none;
    color: var(--primary-color);
  }