/* Footer styles */

.das_footer {
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    position: sticky;
}

.footer_links a {
    color: var(--text-color);
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

.footer_links a:hover {
    color: #007bff;
}

.social_icons a {
    margin: 0 0.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social_icons a:hover {
    color: #007bff;
}