.summary_cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.card {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}