* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --background-color: #fff;
    --accent-color: #28a745;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1,
h2,
h3 {
    font-family: 'Montserrat', Arial, sans-serif;
}
/* Main content styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
/* Call to action (CTA) section styles */
.cta {
    text-align: center;
    margin-bottom: 3rem;
}

.cta h2 {
    margin-bottom: 1.5rem;
}

/* Responsive styles */


/* Dark mode styles */
body.dark_mode {
    --text-color: #f4f4f4;
    --background-color: #333;
    --secondary-color: #444;
}

/* Animation for CTA button */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
.Hero_cta_btn__eZQnc, .CallToAction_cta_btn__JmqYU {
    animation: pulse 2s infinite;
  }